*{
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
    box-sizing: border-box;
    text-align: center;
}
.container {
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}